.wrapLoadingDetail{
    width: 100%;
    min-height: 100vh;
    position: relative;
    .ant-spin{
        position: absolute;
        z-index: 10;
        top: 40%;
        left: 0;
        bottom: 0;
        right: 0;
    }
}

.postComment{
    width: 100%;

}
.bodyComment{
    width: 100%;
    display: flex;
    min-height: 100vh;

}
/*.leftComment{*/
/*    width: 22%;*/
/*}*/
.rightComment{
    width: 100%;
    background-color: #ccc;
    display: flex;
    background-image: linear-gradient(135deg, #FAB2FF 10%, #1904E5 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.contentComment{
    width: 70%;
    padding: 47px 30px 30px 30px;
}
.suggest{
    width: 30%;
}
.wrapComments{
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
.listComment{
    padding: 10px;
}
.wrapInput{
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.inputComment{
    width: 80%;
    height: 100px;
}
.wrapSearchComment{
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding: 30px 0 10px 0;
    display: flex;
    column-gap: 10px;
}
.ant-input-group{
    width: 60%;
}
.box{
    width: 100%;
    margin-top: 20px;
}


